# Backend
ECG_API_KEY=devkey-123
ECG_DB_PATH=data/ecg.db

# ADS1115
ECG_ADC_CHANNEL=0
ECG_ADC_DATA_RATE=250
ECG_BATTERY_ADC_CHANNEL=1

# Divisor de voltaje de bateria
ECG_BATTERY_R1_OHMS=100000
ECG_BATTERY_R2_OHMS=42000
ECG_BATTERY_EMPTY_V=4.4
ECG_BATTERY_FULL_V=5.0

# Boton fisico de reinicio
ECG_REBOOT_BUTTON_GPIO=5
ECG_REBOOT_HOLD_TIME_S=2
